.table-fruit {
  caption {
    font-size: xx-large;
  }

  // Take maximum margin on both sides = center.
  margin: auto;

  // Select only rows in header.
  thead tr {
    font-weight: bolder;
  }

  // Select all cells.
  td {
    border: 1px solid black;
    width: 25vw;
    height: 10vw;
    text-align: center;
  }

  // Select every odd row inside body.
  tbody tr:nth-child(odd) {
    background-color: lightgrey;
  }
}

.row-banana {
  &:hover {
    background-color: yellow !important;
  }
}

.row-apple {
  &:hover {
    background-color: green !important;
  }
}

.row-strawberry {
  &:hover {
    background-color: red !important;
  }
}

.row-blueberry {
  &:hover {
    background-color: blue !important;
  }
}
